{#
/**
 * @file
 * Template for the invoice.
 *
 * Available variables:
 * - invoice_entity: The invoice entity.
 * - billing_information: The billing information.
 * - totals: An array of invoice totals values with the following keys:
 *   - subtotal: The invoice subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The invoice total price.
 *
 * @ingroup themeable
 */
#}
{% set payment_terms = invoice_type.getPaymentTerms %}
{% set invoice_footer = invoice_type.getFooterText %}
<h1 id="invoice-number">{{ 'Invoice @number'|t({'@number': invoice_entity.getInvoiceNumber}) }}</h1>
<div class="invoice-header">
  {% if (billing_information) %}
    <div class="billing-information">
      <h3>{{ 'Billed to'|t }}</h3>
      {% block billing_information %}
        {{ billing_information }}
      {% endblock %}
    </div>
  {% endif %}
  <div class="invoice-info">
    <table class="invoice-table">
      <tbody>
      <tr>
        <td>{{ 'Invoice'|t }}</td>
        <td>{{ invoice_entity.getInvoiceNumber }}</td>
      </tr>
      <tr>
        <td>{{ 'Date'|t }}</td>
        <td>{{ invoice_entity.getCreatedTime|format_date('custom', 'Y-m-d') }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="invoice-items-container">
  <table class="invoice-items">
    <thead>
    <tr>
      <th>{{ 'Description'|t }}</th>
      <th>{{ 'Unit price'|t }}</th>
      <th>{{ 'Quantity'|t }}</th>
      <th>{{ 'Total'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% block invoice_items %}
      {% for invoice_item in invoice_entity.getItems %}
        <tr>
          <td>{{ invoice_item.label }} {{ invoice_item.getDescription }}</td>
          <td>{{ invoice_item.getUnitPrice|commerce_price_format }}</td>
          <td>
            {{ invoice_item.getQuantity|number_format }}
          </td>
          <td>
            {{ invoice_item.getTotalPrice|commerce_price_format }}
          </td>
        </tr>
      {% endfor %}
    {% endblock %}
    </tbody>
  </table>
</div>
<div class="invoice-totals-container">
  <div class="invoice-totals">
    <table class="invoice-table">
      <tbody>
      <tr>
        <td>
          {{ 'Subtotal'|t }}
        </td>
        <td>
          {{ totals.subtotal|commerce_price_format }}
        </td>
      </tr>
      {% for adjustment in totals.adjustments %}
        <tr>
          <td>
            {{ adjustment.label }}
          </td>
          <td>
            {{ adjustment.total|commerce_price_format }}
          </td>
        </tr>
      {% endfor %}
      <tr class="invoice-total">
        <td>
          {{ 'Invoice Total'|t }}
        </td>
        <td>
          {{ invoice_entity.getTotalPrice|commerce_price_format }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{% if (payment_terms) %}
  <div class="invoice-payment-terms">
    {{ payment_terms }}
  </div>
{% endif %}
{% if (invoice_footer) %}
  <div class="invoice-footer">
    {{ invoice_footer }}
  </div>
{% endif %}
